{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}"/>
        <link rel="stylesheet" type="text/css" id="stylesheet" href="/stylesheets/dark.css">
</head>
<body>
	<header>
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	
	<div class="ban">
		{% if news|count == 0 %}
			<p style="text-align:center" class="unimportant">(Sem notícias para mostrar.)</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; por {{ entry.name }} em {{ entry.time|date(config.post_date) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>
	
        <footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
                        <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel</p>
        </footer>
</body>
</html>
{% endfilter %}
