<p class="unimportant badges">
<!--<a href="http://validator.w3.org/check?uri=http://lainchan.org{{ board.url }}"><img src="/static/html.png" alt="Valid HTML" /></a><a href="http://wiki.nginx.org"><img src="/static/nginx.png" alt="NGIИX" /></a><a href="http://ubuntu.com/"><img src="/static/ubuntu.png" alt="Ubuntu Powered" /></a> !-->
<!--<a href="https://www.openssl.org"><img src="/static/ssl.png" alt="SSL Secure"></a> -->
</p>
