{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}

<div class="thread" id="thread_{{ post.id }}" data-board="{{ board.uri }}">
{% if not index %}<a id="{{ post.id }}" class="post_anchor"></a>{% endif %}

{% include 'post/fileinfo.html' %}
<div class="post op" id="op_{{ post.id }}" {%if post.num_files > 1%}style='clear:both'{%endif%}><p class="intro">
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
	<label for="delete_{{ post.id }}">
		{% include 'post/subject.html' %}
		{% include 'post/name.html' %}
		{% include 'post/ip.html' %}
		{% include 'post/flag.html' %}
		{% include 'post/time.html' %}
	</label>
	{% include 'post/poster_id.html' %}&nbsp;
	<a class="post_no" id="post_no_{{ post.id }}" onclick="highlightReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('', '50') }}{% else %}{{ post.link }}{% endif %}">No.</a>
	<a class="post_no" onclick="citeReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('q', '50') }}{% else %}{{ post.link('q') }}{% endif %}">{{ post.id }}</a>
	{% if post.sticky %}
		{% if config.font_awesome %}
			<i class="fa fa-thumb-tack" title="Pinado"></i>
		{% else %}
			<img class="icon" title="Pinado" src="{{ config.image_sticky }}" alt="Pinado" />
		{% endif %}
	{% endif %}
	{% if post.locked %}
		{% if config.font_awesome %}
			<i class="fa fa-lock" title="Trancado"></i>
		{% else %}
			<img class="icon" title="Trancado" src="{{ config.image_locked }}" alt="Trancado" />
		{% endif %}
	{% endif %}
	{% if post.bumplocked and (config.mod.view_bumplock < 0 or (post.mod and post.mod|hasPermission(config.mod.view_bumplock, board.uri))) %}
		{% if config.font_awesome %}
			<i class="fa fa-anchor" title="Auto sage"></i>
		{% else %}
			<img class="icon" title="Auto sage" src="{{ config.image_bumplocked }}" alt="Auto sage" />
		{% endif %}
	{% endif %}
	{% if post.cycle %}
		{% if config.font_awesome %}
			<i class="fa fa-refresh" title="Cíclico"></i>
		{% else %}
			<img class="icon" title="Cíclico" src="{{ config.image_sticky }}" alt="Cíclico" />
		{% endif %}
	{% endif %}
	{% if index %}
		<a href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ link_for(post) }}">[{% trans %}Responder{% endtrans %}]</a>
	{% endif %}
	{% if isnoko50 %}
		<a href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ link_for(post) }}">[{% trans %}Ver todos{% endtrans %}]</a>
	{% endif %}
	{% if hasnoko50 and not isnoko50 %}
		{% set lastcount = config.noko50_count %}
		<a href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ link_for(post, true) }}">[{% trans %}Último post{% plural lastcount %}Últimos {{ count }} Posts{% endtrans %}]</a>
	{% endif %}
	{% include 'post/post_controls.html' %}
	</p>
	<div class="body">
		{% endfilter %}{% if index %}{{ post.body|truncate_body(post.link) }}{% else %}{{ post.body }}{% endif %}{% filter remove_whitespace %}
		{% if post.modifiers['ban message'] %}
			{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
		{% endif %}
		{% if post.modifiers['warning message'] %}
			{{ config.mod.warning_message|sprintf(post.modifiers['warning message']) }}
		{% endif %}
	</div>
	{% if post.omitted or post.omitted_images %}
		<span class="omitted">
			{% if post.omitted %}
				{% trans %}
					1 post
				{% plural post.omitted %}
					{{ count }} posts
				{% endtrans %}
				{% if post.omitted_images %}
					 {% trans %}e{% endtrans %} 
				{% endif %}
			{% endif %}
			{% if post.omitted_images %}
				{% trans %}
					1 imagem
				{% plural post.omitted_images %}
					{{ count }} imagens
				{% endtrans %}
			{% endif %} {% trans %}omitidos. Clique em responder para visualizar.{% endtrans %}
		</span>
	{% endif %}
{% if not index %}
{% endif %}
</div>{% endfilter %}
{% set iparray = [post.ip] %}
{% set hr = post.hr %}
{% for post in post.posts %}
	{% if post.ip not in iparray %}
	{% set iparray = iparray|merge([post.ip]) %}
	{% endif %}
	{% include 'post_reply.html' %}
{% endfor %}
{% if mod and not index %}
<div id="uniqueip"><span style="display: block; float: left;">IPs únicos: {{ iparray|length  }} </span></div>
{% endif %}
<br class="clear"/>{% if hr %}<hr/>{% endif %}
</div>
