<ul>
  {% for board in boards  %}
  <li>
    <a href="?/{{ config.board_path|sprintf(board.uri) }}{{ config.file_index }}">{{ config.board_abbreviation|sprintf(board.uri) }}</a>
    -
    {{ board.title|e }}
    {% if board.subtitle %}
    <small>&mdash;
      {% if config.allow_subtitle_html %}
      {{ board.subtitle }}
      {% else %}
      {{ board.subtitle|e }}
      {% endif %}
    </small>
    {% endif %}
    {% if mod|hasPermission(config.mod.manageboards) %}
    <a href="?/edit/{{ board.uri }}"><small>[{% trans 'edit' %}]</small></a>
    {% endif %}
  </li>
  {% endfor %}

  {% if mod|hasPermission(config.mod.newboard) %}
  <li style="margin-top:15px"><a href="?/new-board"><strong>{% trans 'Create new board' %}</strong></a></li>
  {% endif %}

  {% if mod|hasPermission(config.mod.reports) %}
  <li>
    {% if reports > 0 %}<strong>{% endif %}
      <a href="?/reports">{% trans 'Report queue' %} ({{ reports }})</a>
      {% if reports > 0 %}</strong>{% endif %}
  </li>
  {% endif %}
  {% if mod|hasPermission(config.mod.view_banlist) %}
  <li><a href="?/bans">{% trans 'Ban list' %}</a></li>
  {% endif %}
  {% if config.ban_appeals and mod|hasPermission(config.mod.view_ban_appeals) %}
  <li><a href="?/ban-appeals">{% trans 'Ban appeals' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.manageusers) %}
  <li><a href="?/users">{% trans 'Manage users' %}</a></li>
  {% elseif mod|hasPermission(config.mod.change_password) %}
  <li><a href="?/users/{{ mod.id }}">{% trans 'Change password' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.themes) %}
  <li><a href="?/themes">{% trans 'Manage themes' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.modlog) %}
  <li><a href="?/log">{% trans 'Moderation log' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.recent) %}
  <li><a href="?/recent/25">{% trans 'Recent posts' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.rebuild) %}
  <li><a href="?/rebuild">{% trans 'Rebuild' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.news) %}
  <li><a href="?/edit_news">{% trans 'News' %}</a></li>
  {% endif %}
  {% if mod|hasPermission(config.mod.edit_config) %}
  <li><a href="?/config">{% trans 'Configuration' %}</a></li>
  {% endif %}

{% if mod|hasPermission(config.mod.search) %}

  <li>
    {% include 'mod/search_form.html' %}
  </li>

{%  endif %}

{% if config.mod.dashboard_links|length > 0 %}

  {% for label,link in config.mod.dashboard_links %}
  <li><a href="{{ link }}">{{ label }}</a></li>
  {% endfor %}

{% endif %}

{% if config.debug %}

  <li><a href="?/debug/antispam">{% trans 'Anti-spam' %}</a></li>
  <li><a href="?/debug/recent">{% trans 'Recent posts' %}</a></li>
  {% if mod|hasPermission(config.mod.debug_sql) %}
  <li><a href="?/debug/sql">{% trans 'SQL' %}</a></li>
  {% endif %}

{% endif %}

{% if newer_release %}

  <li>
    A newer version of vichan
    (<strong>v{{ newer_release.massive }}.{{ newer_release.major }}.{{ newer_release.minor }}</strong>) is available!
    See <a href="https://engine.vichan.net">https://engine.vichan.net/</a> for upgrade instructions.
  </li>

{% endif %}

  <li><a href="?/logout/{{ logout_token }}">{% trans 'Logout' %}</a></li>
</ul>
